In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
from re import search

In [18]:
df=pd.read_csv("./glassdoor_jobs.csv")

In [19]:
def condition(sub,string):
    if search(sub,string):
        return False
    else:
        return True

In [20]:
condition('mahmoud','mahmoud wnet to ')

False

In [21]:
df=df[df['Salary Estimate'].apply(lambda x:condition('Per Hour',x))]

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 718 entries, 0 to 955
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         718 non-null    int64
 1   Job Title          718 non-null    object
 2   Salary Estimate    718 non-null    object
 3   Job Description    718 non-null    object
 4   Rating             718 non-null    float64
 5   Company Name       718 non-null    object
 6   Location           718 non-null    object
 7   Headquarters       718 non-null    object
 8   Size               718 non-null    object
 9   Founded            718 non-null    int64
 10  Type of ownership  718 non-null    object
 11  Industry           718 non-null    object
 12  Sector             718 non-null    object
 13  Revenue            718 non-null    object
 14  Competitors        718 non-null    object
dtypes: float64(1), int64(2), object(12)
memory usage: 89.8+ KB

In [23]:
df['Salary Estimate'].value_counts()

-1                              214
$49K-$113K (Glassdoor est.)       6
$86K-$143K (Glassdoor est.)       6
$54K-$115K (Glassdoor est.)       6
$81K-$167K (Glassdoor est.)       5
                               ...
$61K-$123K (Glassdoor est.)       1
$105K-$173K (Glassdoor est.)      1
$40K-$73K (Glassdoor est.)        1
$76K-$125K (Glassdoor est.)       1
$70K-$122K (Glassdoor est.)       1
Name: Salary Estimate, Length: 408, dtype: int64

In [24]:
df=df[df['Salary Estimate'] !='-1']

In [25]:
df['Salary Estimate'].value_counts()

$54K-$115K (Glassdoor est.)     6
$49K-$113K (Glassdoor est.)     6
$86K-$143K (Glassdoor est.)     6
$74K-$124K (Glassdoor est.)     5
$107K-$173K (Glassdoor est.)    5
                               ..
$61K-$123K (Glassdoor est.)     1
$105K-$173K (Glassdoor est.)    1
$40K-$73K (Glassdoor est.)      1
$76K-$125K (Glassdoor est.)     1
$70K-$122K (Glassdoor est.)     1
Name: Salary Estimate, Length: 407, dtype: int64

In [60]:
def salary_estimate(data):
    data=data.replace('$','')
    data=data.replace('K','')
    data=data.replace('(Glassdoor est.)','')

In [61]:
x=df['Salary Estimate'][0]

In [53]:
x=x.replace('$','')

In [55]:
x=x.replace('K','')

In [56]:
x

'53-91 (Glassdoor est.)'

In [57]:
x=x.replace('(Glassdoor est.)','')

In [58]:
x

'53-91 '